.cmp-compatibility {

  padding-bottom: $component-padding-bottom;
  border-left-style: $component-border-left-style;
  border-left-width: $component-border-left-width;
  border-left-color: $component-border-left-color;

  .cmp-compatibility__subcomponents {
    padding-left: $padding-left-subcomponents;
  }
}