# Configuration created by Apache Sling JCR Installer
httpRedirect=B"false"
clientId="{f2aba5f1c23370bc1646a41efb4ad1875f691fe5b1a091d7a8285ab7040216c76b902c3d9c51ac16045ea8bd5201a67459d1fe523508dd41eea2f26ee306cd4a}"
defaultRedirectUrl="/aem/start.html"
errorRedirectUrl="/apps/granite/core/content/login.oidcerror.html?j_reason\=%s"
tokenEndpoint="https://us-south.appid.cloud.ibm.com/oauth/v4/f5cdbd20-3a43-465e-a7a1-5ddc92c84e6a/token"
callbackUrl="http://localhost:4502/oidc_login"
service.ranking=I"5002"
authorizationEndpoint="https://us-south.appid.cloud.ibm.com/oauth/v4/f5cdbd20-3a43-465e-a7a1-5ddc92c84e6a/authorization"
clientSecret="{02ced51da0ef6cd35f8ed1a113c8011bf8fb379f9a0bd8c6e367120c95de2fba3da3b5129ca86a026f6fb628826eefb3d6046484826b61e3d726b5319b323bedf1eba396090f2a4caec466c1cd044ab4}"
idp.name="ibm-app-id"
scope="openid\ profile\ email"
path="/"
userInfoUrl="https://us-south.appid.cloud.ibm.com/oauth/v4/f5cdbd20-3a43-465e-a7a1-5ddc92c84e6a/userinfo"
blueGroupNames=["wh-mdx-cem-dev"]
