# Configuration created by Apache Sling JCR Installer
rootPaths=["/content/mdx-cem/"]
resourceTypes=["contentauthoring/components/ivcompatibility/structure/page","contentauthoring/components/citation/structure/page"]
templates=["/conf/contentauthoring/settings/wcm/templates/iv-compatibility-record","/conf/contentauthoring/settings/wcm/templates/iv-compatibility-product","/conf/contentauthoring/settings/wcm/templates/citation"]
