# Configuration created by Apache Sling JCR Installer
auth.annonymous=B"false"
auth.sudo.cookie="sling.sudo"
auth.http.realm="Sling\ (Development)"
sling.auth.requirements=["+/","-/apps/granite/core/content/login","-/servlets/ibmsinglesignonservlet.html","-/libs/granite/core/content/login","-/etc.clientlibs","-/etc/clientlibs/granite","-/libs/dam/remoteassets/content/loginerror","-/secureservlets/health","-/servlets/availability"]
sling.auth.anonymous.user=""
auth.uri.suffix=["/j_security_check"]
auth.http="preemptive"
auth.sudo.parameter="sudo"
