scripts=[
        "
create path (sling:Folder) /etc/preReplication/queues
create path /etc/upload

create group import-api-group
set ACL on /etc/upload
	allow jcr:all for import-api-group
end

create service user authoringUnitValidationPreprocessorUser
set ACL on /content/mdx-cem, /etc/import-data
	allow jcr:all for authoringUnitValidationPreprocessorUser
end

create service user importDataProcessorServiceUser
set ACL on /etc/import-data, /etc/upload
	allow jcr:all for importDataProcessorServiceUser
end

create service user preReplicationServiceUser
set ACL on /etc/preReplication/queues
	allow jcr:all for preReplicationServiceUser
end
set ACL on /content, /etc/import-data
	allow jcr:read for preReplicationServiceUser
	allow crx:replicate for preReplicationServiceUser
end

set ACL on /etc/import-data
	allow jcr:read for content-authors
end

        "
]

