# Configuration created by Apache Sling JCR Installer
group.pathPrefix="ibm-app-id"
user.dynamicMembership=B"false"
group.expirationTime="1d"
user.membershipExpTime="1h"
user.pathPrefix="ibm-app-id"
user.propertyMapping=["profile/email\=email","profile/givenName\=given_name","profile/familyName\=family_name"]
handler.name="ibm-app-id"
enableRFC7613UsercaseMappedProfile=B"false"
user.autoMembership=["content-authors"]
user.expirationTime="1h"
group.propertyMapping=[""]
group.autoMembership=[""]
user.disableMissing=B"true"
user.membershipNestingDepth=I"1"
