# Configuration created by Apache Sling JCR Installer
auditlog.rule.contentpath="/"
auditlog.rule.minimumage=I"100"
auditlog.rule.name="pages-all"
auditlog.rule.types=["PageCreated","PageModified","PageMoved","PageDeleted","VersionCreated","PageRestored","PageRolled\ Out","PageValid","PageInvalid"]
