# Configuration created by Apache Sling JCR Installer
versionmanager.purgePaths=["/content"]
versionmanager.maxAgeDays=I"30"
versionmanager.purgingEnabled=B"true"
versionmanager.createVersionOnActivation=B"true"
versionmanager.maxNumberVersions=I"5"
versionmanager.minNumberVersions=I"2"
versionmanager.ivPaths=["/"]