# Configuration created by Apache Sling JCR Installer
auditlog.rule.contentpath="/content/websites"
auditlog.rule.minimumage=I"60"
auditlog.rule.name="pages-contentauthoring"
auditlog.rule.types=["PageCreated","PageModified","PageMoved","PageDeleted","VersionCreated","PageRestored","PageRolled\ Out","PageValid","PageInvalid"]
