scripts=[
        "
create path (sling:OrderedFolder) /content/dam/contentauthoring
create path (nt:unstructured) /content/dam/contentauthoring/jcr:content
set properties on /content/dam/contentauthoring/jcr:content
    set cq:conf{String} to /conf/contentauthoring
    set jcr:title{String} to \"Content Authoring\"
end

create path (sling:Folder) /etc/import-data
create path (sling:Folder) /etc/import-data/redbook
create path (sling:Folder) /etc/import-data/solution-product-lookup
        "
]

