.cmp-product-info {

  padding-bottom: $component-padding-bottom;
  border-left-style: $component-border-left-style;
  border-left-width: $component-border-left-width;
  border-left-color: $component-border-left-color;

}