# Configuration created by Apache Sling JCR Installer
versionmanager.purgePaths=["/content"]
versionmanager.maxAgeDays=I"365"
versionmanager.purgingEnabled=B"true"
versionmanager.createVersionOnActivation=B"true"
versionmanager.maxNumberVersions=I"10"
versionmanager.minNumberVersions=I"3"
versionmanager.ivPaths=["/"]